<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        Todas
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favoritos
      </ion-segment-button>
    </ion-segment>

    <!--<ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleDetallado()">
        <ion-icon [name]="detallado ? 'list-box' : 'list'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Buscar">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <multa [hidden]="!detallado || group.hide" *ngFor="let group of groups" [multa]="group" (onSuccess)="updateSchedule()"></multa>

  <ion-list #scheduleList [hidden]="shownSessions === 0" no-lines>
      <ion-item-sliding *ngFor="let group of groups"
                        [hidden]="detallado || group.hide"
                        #slidingItem
                        [attr.track]="group.infraccion | lowercase">

        <button ion-item (click)="goToSessionDetail(group)">
          <h3>{{group.infraccion}}</h3>
          <ion-note item-content class="text-ios-primary text-md-primary text-wp-primary" style="font-size: 0.6em;">
            {{group.multa_monto}}
          </ion-note>
        </button>
        <ion-item-options (ionSwipe)="segment === 'all' ? addFavorite(slidingItem, group): removeFavorite(slidingItem, group, 'Quitar favorito')">
          <button ion-button icon-only color="vimeo" (click)="openSocial(group)" *ngIf="esApp()">
            <ion-icon name="share-alt"></ion-icon>
          </button>
          <button ion-button icon-only expandable color="favorite" (click)="addFavorite(slidingItem, group)" *ngIf="segment === 'all'">
            <ion-icon name="heart"></ion-icon>
          </button>
          <button ion-button icon-only expandable color="danger" (click)="removeFavorite(slidingItem, group, 'Quitar favorito')" *ngIf="segment === 'favorites'">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>

      </ion-item-sliding>
  </ion-list>

  <ion-list-header [hidden]="!loading">
    Cargando multas...
  </ion-list-header>
  <ion-list-header [hidden]="shownSessions > 0 || loading">
      No se encontraron multas
  </ion-list-header>

  <ion-fab bottom right #fab *ngIf="esApp()">
    <button ion-fab (click)="openSocial()"><ion-icon name="share"></ion-icon></button>
  </ion-fab>


</ion-content>
